[Desktop Entry]
Name=Sprite Cloud
Comment=Stream your retro game library
Exec=sprite-cloud
Icon=com.spritecloud.SpriteCloud
Type=Application
Categories=Game;Emulator;
StartupNotify=true
