# 16 KB NROM linker config (vectors inside the single PRG bank, $BFFA)
MEMORY {
    HEADER: file = %O, start = $0000, size = $10,  fill = yes;
    ROM0:   file = %O, start = $8000, size = $3FFA, fill = yes;
    ROMV:   file = %O, start = $BFFA, size = $06,  fill = yes;
    ROM2:   file = %O, start = $0000, size = $2000, fill = yes;
}
SEGMENTS {
    HEADER:  load = HEADER, type = ro;
    CODE:    load = ROM0,   type = ro;
    CHARS:   load = ROM2,   type = rw;
    VECTORS: load = ROMV,   type = rw;
}
